.header {
    background: #f4f4f4;
    padding: 16px;
    border-radius: 25px;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.2s;
}

.active {
    font-weight: bold;
    color: #0070f3;
}
